<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Nodeclipse Plugins List Action Set"
            visible="true"
            id="org.nodeclipse.pluginslist.core.actionSet">
            <!--
         <menu
               label="Node&amp;clipse"
               id="nodeclipseMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
          -->
         <action
               label="&amp;Nodeclipse Plugins List"
               icon="icons/sample.gif"
               class="org.nodeclipse.pluginslist.core.PluginsListAction"
               tooltip="Nodeclipse Plugins List is convinient way to install Nodeclipse plugins"
               menubarPath="help/sampleGroup"
               toolbarPath="sampleGroup"
               id="org.nodeclipse.pluginslist.core.PluginsListAction">
         </action>
      </actionSet>
   </extension>

</plugin>
